package user

import (
    "github.com/HsiaoCz/geek/Templ/view/layout"
    "github.com/HsiaoCz/geek/Templ/model"
)
templ Show(user model.User){
   @layout.Base(){
      <h1>hello {user.Email} from the user page</h1>
   }
}